.elemento-fijo{
    position: relative;
    width: 400px;
    left: 40%;
    text-align: center;
}
h1{
  color: cadetblue;
  padding: 3px 65px;
  border: rgb(70, 64, 64) 2px solid;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 40px;
 }
body{
    background-color:#4D6B6E;
    }
